@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>@_localizer["Welkom bij Mes Doigts De Fées!"]</h1>

    <p>
        @_localizer["Mes Doigts De Fées is jouw go-to platform voor het beheren en organiseren van creatieve lessen en workshops. Of je nu een leergierige student bent, een instructeur met een passie voor lesgeven of een beheerder Door het proces te stroomlijnen, biedt ons platform een naadloze ervaring. Ontdek lessen, sluit je aan bij groepen, en laat je creativiteit de vrije loop met Mes Doigts De Fées!"]
    </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
