@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to Mes Doigts De Fées!</h1>

    <p>
        Mes Doigts De Fées is your go-to platform for managing and organizing creative lessons and workshops.
        Whether you're a student eager to learn, an instructor passionate about teaching, or an administrator
        streamlining the process, our platform provides a seamless experience. Explore lessons, join groups,
        and unleash your creativity with Mes Doigts De Fées!
    </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
